.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 85vh;
    background-color: rgb(33, 42, 49);
    border-radius: 5px;
}

.form-header {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: white;
}

.form-input {
    background-color: rgb(33, 42, 49);
    width: 100%;
    max-width: 30vw;
    height: 3rem;
    padding: 10px;
    margin: 5px 0;

    border: none;
    border-bottom: 3px solid rgb(46, 56, 65);
    border-radius: 5px;

    color: white;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.form-input:focus {
    border-bottom: 3px solid #4F6271;
    background-color: rgb(40, 50, 60);
}

.form-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
}


.button-submit {
    margin-top: 20px;
    height: 5vh;
    width: 27vw;
    background-color: #4F6271;
    border: none;
    border-radius: 2px;
    font-size: larger;
    color: white;
}


.button-submit:hover {
    background-color: #516872;
    transition: 0.3ms;
    cursor: pointer;
}

.img {
    height: 6vw;
    width: 6vw;
}